/ {
	aliases {
		led0 = &status_led;
		gps-uart = &usart1;
	};

	leds {
		compatible = "gpio-leds";
		status_led: led_0 {
			gpios = <&gpioa 0 GPIO_ACTIVE_HIGH>;
			label = "Status LED on PA0";
		};
	};
};

/* UART1 configuration for GPS-module */
&usart1 {
	status = "okay";
	current-speed = <9600>; /* default setting of L80-R */
	pinctrl-0 = <&usart1_tx_pa9 &usart1_rx_pa10>;
	pinctrl-names = "default";
};